<header>

  <nav>
    <ul>

      <li>
        <a routerLinkActive="active-link" [routerLink]="['/home']" id="home-nav">
          Accueil
        </a>
      </li>
      <li>
        <a routerLinkActive="active-link" [routerLink]="['/adminMembers']">
          Gestion des membres
        </a>
      </li>

      <li>
        <a routerLinkActive="active-link" [routerLink]="['/projects']">
          Gestion des projets
        </a>
      </li>

      <li>
        <a routerLinkActive="active-link" [routerLink]="['/adminContact']">
          Gestion des contacts
        </a>
      </li>

    </ul>
  </nav>
</header>
