$color1: #CB4C3B;
$widthcontainer: 1000px;
$font: 'Nunito', sans-serif;


* {
  text-decoration: none;
  list-style: none;
}


.active-link {
  box-shadow: 0 3px 0 $color1;
}

header{
  max-width: 80%;
  margin: 30px auto 60px;
}

nav ul {
  top: 0;
  display: flex;
  justify-content: space-between;

  li {
    a {
      font-size: 20px;
      color: $color1
    }
  }

  li:hover a {
    box-shadow: 0 3px 0 $color1;
    transition: all .3s ease;
  }
}
