<header>

  <div class="logo">
    <h1>
      <a [routerLink]="['/home']">
        <img src="/assets/img/logo.JPG" alt="">
      </a>
    </h1>

  </div>

  <nav>
    <ul>
      <li>
        <a routerLinkActive="active-link" [routerLink]="['/home']" id="home-nav">
          Accueil
        </a>
      </li>

      <li>
        <a routerLinkActive="active-link" [routerLink]="['/projects']" id="projects-nav">
          Nos projets
        </a>
      </li>

      <li>
        <a routerLinkActive="active-link" [routerLink]="['/contact']" id="contact-nav">
          Contact
        </a>
      </li>

    </ul>
  </nav>


</header>



