$color1: #CB4C3B;
$widthcontainer: 80%;
$font: 'Nunito', sans-serif;
$font2: 'Indie Flower', cursive;

.container {
  width: $widthcontainer;
  margin: 0 auto;

  form {
    margin: 0 auto;
  }
}

h5 {
  font-family: $font;
  color: $color1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.form-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 17px;

  label {
    font-family: $font;
    color: $color1;
    font-weight: 700;
  }

  .error-form {
    color: #FB0000;
  }

  .form-input {
    display: flex;


    input, textarea {
      width: 60%;
      margin-right: 10px;
      height: 30px;
    }
  }
}


.image-upload {
  display: flex;
  flex-wrap: wrap;

  label{
    align-self:center;
  }
  .img-block {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-color: #acacac;
    display: flex;
    justify-content: center;
    margin-left: 40px;


    p {
      align-self: center;
    }
  }


  input[type="file"]{
    display: none;
  }
}
.button-empty{
  color:$color1;
  font-family: $font;
  text-decoration: none;
  border: 2px solid $color1;
  padding: 7px 20px ;
  border-radius: 5px;
  font-size: 17px;
  transition: 0.5s;
  background-color: white;
  font-weight: 700;
}

.button-empty:hover{
  cursor: pointer;
}


.btn-submit{
  margin-top: 50px;
  text-align: center;

  a{
    margin-right: 45px;
    font-size: 17px;
    font-family: $font;
    text-decoration: none;
  }

  button:disabled{
    color: #8d8b8b;
    background-color: #bebcbc;
    border: #8d8b8b;
  }

  button:disabled:hover{
    cursor: auto;
  }

}

.error{
  text-align: center;
  color: red;
  padding: 10px;

}
