<section role="project">
  <h2>Notre Réseau</h2>

  <div id="text-project">
    <p>
      Nous tissons un réseau mondial de partenaires qui agissent sur des projets de développement ou de
      sensibilisation.Nous attachons de l'importance à ce que les projets soient inscrits dans une logique de
      développement durable et s'inscrivent dans les ODD.La majorité de nos projets sont issus des différents réseaux
      des membres de l'équipe.
    </p>
    <a class="button-full">
      Notre réseau
    </a>
  </div>

</section>
