<app-header></app-header>
<section role="presentation-members">
    <h3>Notre équipe</h3>
    <div class="cards-container">
        <div class="card">
            <div class="card-img">
                <img src="https://static1.purepeople.com/articles/6/36/87/26/@/5316893-portrait-de-jean-pierre-coffe-le-20-nov-624x600-3.jpg" alt="">
            </div>
            <div class="card-presentation">
                <h3>Name Surname</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nostrum harum corporis doloremque amet quo aspernatur illum quas. Delectus odit ipsam reiciendis iste a. Illo et eligendi error culpa harum.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://leventredeparis.fr/file/2016/04/jpcoffe.jpg" alt="">
            </div>
            <div class="card-presentation">
                <h3>Name Surname</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nostrum harum corporis doloremque amet quo aspernatur illum quas. Delectus odit ipsam reiciendis iste a. Illo et eligendi error culpa harum.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://france3-regions.francetvinfo.fr/image/XCGDRu51CRek93hxKNRZKt-TQiE/600x400/regions/2020/06/09/5edef9bdee689_maxpeopleworld817584.jpg" alt="">
            </div>
            <div class="card-presentation">
                <h3>Name Surname</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nostrum harum corporis doloremque amet quo aspernatur illum quas. Delectus odit ipsam reiciendis iste a. Illo et eligendi error culpa harum.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://gal.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgal.2Fvar.2Fgal.2Fstorage.2Fimages.2Fmedia.2Fmultiupload_du_07_mai_2015.2Fjean-pierre-coffe.2F3279152-1-fre-FR.2Fjean-pierre-coffe.2Ejpg/480x480/quality/80/jean-pierre-coffe-tacle-jean-luc-delarue-et-michel-denisot.jpg" alt="">
            </div>
            <div class="card-presentation">
                <h3>Name Surname</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nostrum harum corporis doloremque amet quo aspernatur illum quas. Delectus odit ipsam reiciendis iste a. Illo et eligendi error culpa harum.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="" alt="">
            </div>
            <div class="card-presentation">
                <h3>Name Surname</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nostrum harum corporis doloremque amet quo aspernatur illum quas. Delectus odit ipsam reiciendis iste a. Illo et eligendi error culpa harum.</p>
            </div>
        </div>
    </div>

</section>


<app-footer></app-footer>
