<div class="container">
  <a [routerLink]="['/home']">&larr; Retour à la page d'accueil</a>

  <div class="container-form">
    <form [formGroup]="form">

      <div class="form-field">
        <label>Identifiant :</label>
        <input name="username" formControlName="username">
      </div>
      <div class="form-field">
        <label>Mot de passe :</label>
        <input name="password" formControlName="password" type="password">
      </div>

      <div class="form-buttons">
        <button class="button-full" (click)="login()">Se connecter</button>
      </div>
    </form>
  </div>
</div>