<app-header-back></app-header-back>

<div class="container">
  <h3>Liste des Contacts</h3>

  <ul class="list-contact">
    <li class="contact-card">
      <p><strong>De :</strong> email </p>
      <p> <strong>N°tel:</strong> 0505050505</p>
      <p><strong> objet du message :</strong></p>
      <p><strong>Contenu du message :</strong></p>
      <p>Contenu ici</p>
      <div class="btn-center">
        <button (click)="onDeleteContact()" id="deleteContactBtn">Supprimer</button>
      </div>
    </li>
  </ul>
</div>


<app-footer></app-footer>
