<app-header></app-header>

<div class="container">
    <h2>Contact</h2>
    <form action="">
    <input type="email" name="email" id="email" class="input" required placeholder="email">

    <input type="phone" name="phone" id="phone" class="input"  placeholder="Numero de téléphone (facultatif)">


<!--    <select class="input" name="reason" id="">-->
<!--        <option selected hidden>Pour quelle raison souhaitez vous nous contacter ?</option>-->
<!--        <option value="benevolat">Demande de bénévolat</option>-->
<!--        <option value="collect">Collecte de fond</option>-->
<!--        <option value="partenariat">Partenariat</option>-->
<!--        <option value="Autre">Autre</option>-->
<!--    </select>-->

    <textarea class="input" name="text" id="" cols="30" rows="10" placeholder="Votre message"></textarea>

    </form>

  <button class="button-full">Envoyer</button>
</div>

<app-footer></app-footer>
