<app-header></app-header>

<!-- <div class="blur-out logo-fade" style="z-index:151">TEST</div> -->
<div class="container">
  <section role="presentation">
    <div id="presentation">
      <p>Vous pensez à fermer votre association ? <br>Il vous reste des fonds et vous ne savez pas quoi en faire ? <br>
        Prenez contact avec nous ! <br> Nous nous engageons à réinvistir vos fonds dans des projets de
        <strong>solidarité internationales</strong> et/ou sensibilisation</p>


      <img src="/assets/img/planet.jpg" alt="Boost Solidarité">

    </div>
    <p id="catch-phrase">Construisons ensemble les derniers impacts de votre structure</p>
  </section>
</div>

<app-who-are-we-block data-aos="fade-up" data-aos-anchor-placement="top-center"></app-who-are-we-block>

<app-project-block data-aos="fade-up" data-aos-once="true"></app-project-block>

<!-- Missions -->
<section role="missions" data-aos="fade-up">
  <div class="blocg-mission">
    <h2>Nos missions</h2>
  </div>
  <div class="blocd-mission">
    <div class="content-blocd-mission">
      <p>
        BOOST Solidarité s'engage de manière dynamique dans la lutte contre les inégalités en valorisant et en finançant
        des projets de solidarité internationale, des projets de développement à l'étranger avec nos partenaires locaux
        et des projets de sensibilisation aux ODD en France
      </p>
    </div>
  </div>
</section>

<!-- Valeurs -->
<section role="values" >
  <div class="blocg-values">
    <div class="content-blocg-values">
      <p>
        Nous nous efforçons de faire vivre des valeurs dans notre fonctionnement et notre activité.Nous pensons que la
        mondialisation doit être avant tout solidaire. Nous souhaitons que BOOST Solidarité soit acteur de cette vision.
      </p>
    </div>
  </div>

  <div class="blocd-values">

    <h2>Nos Valeurs</h2>

  </div>
</section>

<section role="support">
    <h2>Nous soutenir</h2>
    <div class="blocs-support">
        <div class="blocg-support">
            <div class="content-blocg-support">
                <h3>Engagez vous comme bénévole</h3>
            <p>
                Nous sommes une association de jeunes bénévoles, nous accueillons avec plaisir de nouveaux arrivants !
            </p>
            <a href="" class="button-full">Nous rejoindre</a>
            </div>
        </div>

        <div class="blocd-support">
            <div class="content-blocd-support">
                <h3>Nous soutenir financièrement</h3>
            <p>
                Nous nous efforçons de faire vivre des valeurs dans notre fonctionnement et notre activité.Nous pensons que la
                mondialisation doit être avant tout solidaire. Nous souhaitons que BOOST Solidarité soit acteur de cette vision.
            </p>
            <a href="" class="button-empty">Faire un don</a>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>
