$color1: #CB4C3B;
$widthcontainer: 80%;
$font: 'Nunito', sans-serif;
$font2: 'Indie Flower', cursive;



.container {
  max-width: $widthcontainer;
  margin: 0 auto;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  li{
    list-style: none;
  }
}


.button-full {
  color: white;
  font-family: $font;
  text-decoration: none;
  border: 2px solid $color1;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.5s;
  background-color: $color1;
  font-weight: 500;

}

.button-full:hover {
  background-color: white;
  color: $color1;
  cursor: pointer;
}


.title-add {
  h3 {
    font-family: $font;
    color: $color1;
    padding-right: 20px;
    font-size: 30px;
  }

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

//CARDS

.card {
  margin-bottom: 40px;
  border: 5px solid rgba(255, 255, 255, .05);
  border-radius: .5em;
  width: 300px;
  min-height: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  overflow: hidden;

  .card-img {
    height: 250px;
  }

  .card-img img {
    transition: transform .5s ease;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .card-presentation {

    min-height: 140px;
    font-family: $font;

    .buttons-card{
      display:flex;
      justify-content: space-around;

      button{
        margin-top: 10px;
        border:none;
        background-color: inherit;
        font-family: $font;
        font-size: 15px;
      }

      button:hover{
        cursor: pointer;
      }

      #deleteMemberBtn{
        color: #FB0000;
      }

      #editMemberBtn{
        color: #1100F8;
      }
    }
    h3 {
      padding: 10px;
    }


  }
}
